#ibf-on-page-subnavblock_64259b9e4dafd {
	a {
		color: $color_1;
		font-size: 16px;
		letter-spacing: 2px;
		font-weight: 700;
		padding: 20px 18px;
		border: none;
		&:hover {
			color: $color_2;
		}
	}
}